body {
  padding:0;
  margin:0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: Italic;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header{
  display:flex;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  background-color:orange;
  margin-bottom:1px;
  color:white;
  font-size: x-large;
}

.headerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
}

.headerIcon{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileIcon{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

.translateIcon{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  padding-left: 5px;
}

.background{
  position: fixed;
  height:50%;
  width:100%;
  background-color: orange;
  
}
.translateForm {
  display: flex;
  width: 100%;
  background-color: orange;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.site{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.topSection{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  color:white;
  
}

.completeTop{
  display: flex;
  justify-content:flex-end;
  margin-top: 40px;
}

.bottomSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
 
}
.addPadd{
  display: inline-flex;
  padding: 20px 100px 20px 100px;
}

fieldset{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  padding: 15px 40px 15px 40px;
}
.field{
  display: flex;
  align-items: center;
  flex-direction: row;

}

.fieldContent{
  display: flex;
  margin: 10px;
}
.widerField{
  width: 500px;
  margin: 10px;
}

.usernameField{
  width: 350px;
  margin: 10px;
}

.bigPhoto{
  width:200px;
  padding-right: 40px;
}

.smallPhoto{
  width:50px;
}

.userPhoto{
  width: 40px;
}

.userPhotoBig{
  width:200px;
  padding: 30px;
}

.profileLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.whitebox{
  display: flex;
  border-radius: 10px;
  border:1px solid rgb(201, 111, 201);
  box-sizing: border-box;
  align-items: center;
  background: linear-gradient(to top,
  rgb(201, 111, 201) 0%,
  rgb(201, 111, 201) 20%,
      white 20%,
      white 100%);
  padding: 10px 40px 50px 40px;
  margin-top: 40px;
}

.translateBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  border:1px solid rgb(201, 111, 201);
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  color: black;
  min-width: 250px;
}

.topSectionTranslate{
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: rgb(201, 111, 201);
}

.bottomSectionTranslate{
  padding-left:10px;
  padding-bottom: 10px;
}


.translation{
  display: flex;
  justify-content: flex-start;
  color: black;
  margin-top: 20px;
}

h1{
  font-size: 35px;
}

h2{
  margin:5px;
}

h3{
  margin:5px;
  padding-bottom: 7px;
}

p{
  padding-top:0px;
  margin:5px;
}

input{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  border-radius: 10px;
}

button {
  appearance: none;
  background-color: rgb(201, 111, 201);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  padding: 9px 16px 9px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
button:hover {
  background-color: rgb(182, 17, 182);
  text-decoration: none;
  transition-duration: 0.1s;
}
button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
button:focus {
  outline: 1px transparent;
}
button:before {
  display: none;
}
button:-webkit-details-marker {
  display: none;
}

.split{
  height: 100%;
  margin-top: 71px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left{
  left: 0;
  width: 25%;
  background-color: orange;
}

.right{
  right:0;
  width: 75%;
}

#navlink-text {
  text-decoration: none;
}